#logoBar{
  width: 30vw;
  height: 100vh;
}
#siteLogo{
  width: 100%;
}
body {
  display: flex;
  background-color: purple;
  color: gold;
  font-family:'Times New Roman', Times, serif;
}
@media (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
  }

  #logoBar{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  hr {
    width: 100%;
  }

  .card{ 
    width: 100%;
  }
}

#staffGallery{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: plum;
    margin: 1rem;
    border-radius: 5px;
    max-width: 10rem;
  }
}
.galleryImage{
  width: 100%;
  height: auto;
}
